<main class="bg-gray-50 dark:bg-gray-950 min-h-screen p-6 md:p-10 font-sans">
  <app-loading-overlay [visible]="loading"></app-loading-overlay>
  <div class="max-w-7xl mx-auto dark:bg-gray-950">
    <header class="mb-10 flex justify-between">
      <div>
        <h1 class="text-4xl font-bold text-gray-800 dark:text-white">
          Gerar Relatório de Receita
        </h1>
        <p class="mt-2 max-w-6xl text-lg text-gray-600 dark:text-gray-400">
          Visualize e gere um relatório de receitas
        </p>
      </div>
      <div class="">
        <button
          (click)="redirecionarCategoria()"
          id="gerarRelatorio"
          type="button"
          class="px-6 py-2 text-lg font-semibold text-gray-700 dark:text-white bg-blue-200 dark:bg-blue-700 rounded-lg hover:bg-blue-300 dark:hover:bg-blue-600 focus:outline-none transition"
        >
          Relatório por Categoria
        </button>
      </div>
    </header>
  </div>

  <div
    class="max-w-7xl mx-auto bg-white dark:bg-gray-900 rounded-xl shadow-lg overflow-hidden"
  >
    <div
      class="p-6 bg-gray-100 dark:bg-gray-800 border-b dark:border-gray-700 flex flex-wrap gap-8 items-end justify-between"
    >
      <div class="flex gap-6">
        <div>
          <label
            for="dataInicial"
            class="block text-sm font-medium dark:text-white text-gray-700 mb-1"
            >Data inicial</label
          >
          <input
            type="date"
            id="dataInicial"
            [(ngModel)]="dataInicial"
            class="p-2 w-44 border rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        <div>
          <label
            for="dataFinal"
            class="block text-sm font-medium dark:text-white text-gray-700 mb-1"
            >Data final</label
          >
          <input
            type="date"
            id="dataFinal"
            [(ngModel)]="dataFinal"
            class="p-2 w-44 border rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
      </div>

      <div class="flex gap-4">
        <button
          (click)="buscarRelatorio()"
          id="gerarRelatorio"
          type="button"
          class="px-6 py-2 text-lg font-semibold text-gray-700 dark:text-white bg-blue-200 dark:bg-blue-700 rounded-lg hover:bg-blue-300 dark:hover:bg-blue-600 focus:outline-none transition"
        >
          Gerar Relatório
        </button>

        <button
          (click)="gerarPDF()"
          id="gerarPDF"
          type="button"
          class="px-6 py-2 text-lg font-semibold text-gray-700 dark:text-white bg-green-200 dark:bg-green-700 rounded-lg hover:bg-green-300 dark:hover:bg-green-600 focus:outline-none transition"
        >
          Baixar PDF
        </button>
      </div>
    </div>

    <div id="imprimir" class="h-[65vh] overflow-y-scroll">
      <table
        class="min-w-full divide-y dark:divide-gray-700 divide-gray-200 table-auto"
      >
        <thead
          class="bg-gray-200 dark:bg-gray-800 dark:text-gray-200 text-gray-700 uppercase text-sm font-semibold sticky top-0"
        >
          <tr>
            <th class="px-6 py-3 text-left w-1/6">Data</th>
            <th class="px-6 py-3 text-left w-1/6">Receita</th>
          </tr>
        </thead>
        @if(loading) {
        <tbody
          class="divide-y divide-gray-100 dark:divide-gray-700 animate-pulse"
        >
          @for (_ of [1, 2, 3, 4, 5]; track $index) {
          <tr>
            <td class="px-6 py-4">
              <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-3/4"></div>
            </td>
            <td class="px-6 py-4">
              <div
                class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-full"
              ></div>
            </td>
          </tr>
          }
        </tbody>
        } @else {
        <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
          @for (registro of registrosFiltrados; track registro.data) {
          <tr
            class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors duration-200"
          >
            <td class="px-6 py-4 text-lg text-gray-800 dark:text-gray-200">
              {{ registro.data }}
            </td>
            <td class="px-6 py-4 text-lg text-gray-800 dark:text-gray-200">
              {{ registro.receita | currency : "BRL" }}
            </td>
          </tr>
          } @empty {
          <tr>
            <td
              colspan="2"
              class="px-6 py-6 text-center text-gray-500 dark:text-gray-400"
            >
              Sem receitas para o período informado.
            </td>
          </tr>
          }
        </tbody>
        }
      </table>
    </div>
  </div>
</main>
