<app-modal-visualizar-solicitacao (closed)="solicitacaoSelecionada = null" [solicitacao]="solicitacaoSelecionada"></app-modal-visualizar-solicitacao>
<main class="font-sans p-8 dark:bg-gray-950 h-screen">
  <app-loading-overlay [visible]="loading"></app-loading-overlay>
  <div class="max-w-7xl mx-auto dark:bg-gray-950">
    <div class="flex justify-between items-center">

      <header class="mb-4">
        <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Todas Solicitações</h1>
        <p class="mt-2 text-lg text-gray-600 dark:text-gray-400">
        Visualize todas as solicitações independente de estado
        </p>
      </header>

      <div class="flex justify-end gap-4 px-4 pb-4">
        <div class="flex justify-end flex-col w-48">
          <label for="dropdownStatus" class="text-gray-700 dark:text-white">Filtrar por Status</label>
          <select
            id="dropdownStatus"
            name="dropdownStatus"
            required
            [(ngModel)]="statusSelecionado"
            class="w-full p-3 h-12 border mb-0 dark:border-gray-600 rounded-lg text-[#111418] dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[#f0f2f5] dark:bg-gray-700 placeholder:text-[#60758a] dark:placeholder:text-gray-400"
          >
            <option value="" disabled selected>Selecione um estado</option>
            @for (state of [-1, 1,3,4,5,2,6,8,7]; track $index) {
              <option [value]="state">{{ state == -1 ? 'Todos' : translateEstado(state) }}</option>
            }
          </select>
        </div>
        <div class="w-48">
          <label for="dropdownFiltro" class="text-gray-700 dark:text-white">Filtrar por Data</label>
          <select
            id="dropdownFiltro"
            name="dropdownFiltro"
            required
            [(ngModel)]="filtroSelecionado"
            [ngClass]="{'mb-0': filtroSelecionado == 'Selecionar Período:'}"
            class="w-full p-3 h-12 border dark:border-gray-600 rounded-lg text-[#111418] dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 bg-[#f0f2f5] dark:bg-gray-700 placeholder:text-[#60758a] dark:placeholder:text-gray-400"
          >
            <option value="" disabled selected>Selecione uma categoria</option>
            @for (opcao of dropdown; track opcao) {
              <option [value]="opcao">{{ opcao }}</option>
            }
        </select>
        </div>

        @if (filtroSelecionado === 'Selecionar Período:') {
          <div class="flex gap-2 items-end">
            <div>
              <label for="dataInicial" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Data inicial</label>
              <input type="date" id="dataInicial" [(ngModel)]="dataInicial"
                    class="p-2 h-12 border rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"/>
            </div>
            <div>
              <label for="dataFinal" class="block text-sm font-medium text-gray-700 dark:text-gray-200">Data final</label>
              <input type="date" id="dataFinal" [(ngModel)]="dataFinal"
                    class="p-2 h-12 border rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"/>
            </div>
          </div>
        }

        <button (click)="carregarSolicitacoes()" id="botaoFiltro" type="button" class="w-24 h-12 flex items-center mt-auto justify-center py-2 px-4 text-lg font-semibold text-gray-600 dark:text-white dark:bg-blue-700 focus:outline-none bg-blue-200 rounded-lg hover:bg-blue-300 ease-in-out transition duration-150">
          Filtrar
        </button>
      </div>
    </div>

    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md overflow-hidden max-h-[65vh] overflow-y-scroll">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 table-auto">
        <thead class="bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-200 uppercase text-sm font-semibold sticky top-0">
          <tr>
            <th class="px-4 py-4 text-left w-1/6">Data/Hora</th>
            <th class="px-4 py-4 text-left w-1/6">Cliente</th>
            <th class="px-4 py-4 text-left w-1/6">Descrição Equip.</th>
            <th class="px-4 py-4 text-left w-1/6">Estado</th>
            <th class="px-4 py-4 text-left w-1/6">Ações</th>
          </tr>
        </thead>
        @if (loading) {
          <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
            @for (_ of [1, 2, 3, 4, 5]; track $index) {
              <tr class="animate-pulse">
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-3/4"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-full"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-full"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-6 w-24 bg-gray-300 dark:bg-gray-700 rounded-full"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-6 w-28 bg-gray-300 dark:bg-gray-700 rounded-md"></div>
                </td>
              </tr>
            }
          </tbody>
        } @else {
        <tbody class="divide-y divide-gray-100 dark:divide-gray-700">

          @for (solicitacao of solicitacoesFiltradas; track solicitacao.id) {
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors duration-200">
              <td class="px-4 border-b dark:border-slate-700 border-slate-200 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ formataData(solicitacao.dataCriacao) }}</p>
              </td>
              <td class="px-4 border-b dark:border-slate-700 border-slate-200 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.usuario.nome }}</p>
              </td>
              <td class="px-4 border-b dark:border-slate-700 border-slate-200 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.descricaoEquipamento }}</p>
              </td>
              <td class="px-4 border-b dark:border-slate-700 border-slate-200 py-5">
                <span
                  [ngClass]="getClasseEstado(solicitacao.status)"
                  class="inline-block px-3 py-1 rounded-full text-sm font-semibold"
                >
                  {{ translateEstado(solicitacao.status) }}
                </span>
              </td>

              <td class="px-4 border-b dark:border-slate-700 border-slate-200 py-5">

                @if (solicitacao.status == 1) {
                  <a [routerLink]="['/funcionario/efetuar-orcamento', solicitacao.id]"
                     class="text-lg text-blue-800 hover:text-blue-950 dark:text-blue-400 dark:hover:text-blue-300">
                    Efetuar Orçamento
                  </a>
                } @else {
                  <a (click)="abrirSolicitacao(solicitacao)"
                     class="text-lg text-gray-800 hover:text-gray-950 dark:text-gray-400 dark:hover:text-gray-300">
                    Ver Detalhes
                  </a>
                }
              </td>
            </tr>
          } @empty {
            <tr class="hover:bg-gray-50 transition-colors duration-200">
              <td colspan="5" class="text-center py-6 text-gray-500 dark:text-gray-400">Sem elementos!</td>
            </tr>
          }

        </tbody>
      }
      </table>
    </div>
  </div>
</main>
