<app-toast></app-toast>
<main class="font-sans p-8 bg-gray-50 dark:bg-gray-950 min-h-screen">
  <div class="max-w-7xl mx-auto">
    <header class="mb-8">
      <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Minhas Solicitações</h1>
      <p class="mt-2 text-lg text-gray-600 dark:text-gray-400">
        Visualize aqui suas solicitações
        </p>
    </header>

    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md overflow-hidden max-h-[65vh] overflow-y-scroll">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
        <thead class="bg-gray-100 dark:bg-gray-900 text-gray-600 dark:text-gray-200 uppercase text-sm font-semibold sticky top-0">
        <tr>
          <th class="px-4 py-4 text-left w-1/6">Data/Hora</th>
          <th class="px-4 py-4 text-left w-2/5">Descrição do Equipamento</th>
          <th class="px-4 py-4 text-center w-1/6">Status</th>
          <th class="px-4 py-4 text-left w-2/5">Ações</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
        
          @for (solicitacao of minhasSolicitacoes; track solicitacao.id) {
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors duration-200">
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                    <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.dataCriacao }}</p>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                    <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.descricaoEquipamento }}</p>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5 text-center">
                    <p class="text-black inline-block text-sm font-semibold px-3 py-1 rounded-full dark:text-white" [ngClass]="{
                    'bg-green-100 text-green-800 dark:bg-green-700 dark:text-green-50': solicitacao.status == 7,
                    'bg-blue-100 text-blue-800 dark:bg-blue-700 dark:text-blue-50': solicitacao.status == 6,
                    'bg-amber-800 text-amber-100 dark:bg-amber-600 dark:text-amber-50': solicitacao.status == 3,
                    'bg-red-100 text-red-800 dark:bg-red-700 dark:text-red-50': solicitacao.status == 4,
                  }">{{ traduzirEstado(solicitacao.status) }}</p>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5 space-x-4">
                  <a *ngIf="solicitacao.status == 3" [routerLink]="['/cliente/mostrar-orcamento', solicitacao.id]" class="text-lg text-yellow-600 hover:text-yellow-800 dark:text-yellow-400 dark:hover:text-yellow-500">Aprovar/Rejeitar Serviço</a>
                  <a *ngIf="solicitacao.status == 4" [routerLink]="['/cliente/resgatar-servico', solicitacao.id]" class="text-lg text-stone-600 hover:text-stone-800 dark:text-stone-400 dark:hover:text-stone-500">Resgatar Serviço</a>
                  <a *ngIf="solicitacao.status == 6" [routerLink]="['/cliente/pagar-servico', solicitacao.id]" class="text-lg text-green-600 hover:text-green-800 dark:text-green-400 dark:hover:text-green-500">Pagar Serviço</a>
                  <a [routerLink]="['/cliente/mostrar-solicitacao', solicitacao.id]" class="text-lg text-blue-800 hover:text-blue-950 dark:text-blue-400 dark:hover:text-blue-300">Visualizar</a>
                </td>
            </tr>
        } @empty {
          <tr>
            <td colspan="4" class="text-center py-6 text-gray-500 dark:text-gray-400">Sem elementos!</td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  </div>

<div class="p-8 flex justify-center">
  <div class="flex justify-between items-center mb-6">
    <button (click)="abrirModal()" class="py-3 px-6 bg-blue-600 dark:bg-blue-700 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 dark:hover:bg-blue-800">
      Criar Solicitação
    </button>
  </div>
  </div>

<div *ngIf="exibirModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center z-50 dark:bg-gray-900 dark:bg-opacity-70">
    <div class="bg-white dark:bg-gray-800 rounded-lg relative w-[1200px] max-w-6xl">
      <app-cliente-criar-solicitacao (solicitacaoCriada)="fecharModal()"></app-cliente-criar-solicitacao>
      <button (click)="fecharModal()" class="absolute top-4 right-4 text-gray-500 hover:text-gray-800 text-2xl dark:text-gray-400 dark:hover:text-white">
        &times;
      </button>
    </div>
  </div>
</main>