<main class="font-sans p-8 dark:bg-gray-950 h-screen">
  <div class="max-w-7xl mx-auto dark:bg-gray-950">
    <div class="flex justify-between">
      <header class="mb-4">
        <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Solicitações Abertas</h1>
      </header>
    </div>

    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md overflow-hidden max-h-[65vh] overflow-y-scroll">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 table-auto">
        <thead class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 uppercase text-sm font-semibold sticky top-0">
          <tr>
            <th class="px-6 py-4 text-left w-1/6">Data/Hora</th>
            <th class="px-6 py-4 text-left w-1/6">Cliente</th>
            <th class="px-6 py-4 text-left w-2/5">Descrição Produto</th>
            <th class="px-6 py-4 text-left w-1/6">Ações</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
          @for (solicitacao of solicitacoesAbertas; track solicitacao.id) {
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors duration-200">
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.dataHora | date:'dd/MM/yyyy HH:mm' }}</p>
              </td>
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">
                  <!-- Exibe o ID do cliente como placeholder -->
                  Cliente ID: {{ solicitacao.clienteId }} 
                </p>
              </td>
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.descricaoEquipamento }}</p>
              </td>
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <!-- Exibe o botão de Orçamento APENAS se o estado for ABERTA (RF011) -->
                <a *ngIf="solicitacao.estado === 'ABERTA'" [routerLink]="['/funcionario/efetuar-orcamento', solicitacao.id]" class="text-lg text-blue-800 hover:text-blue-950 dark:text-blue-400 dark:hover:text-blue-300">Efetuar Orçamento</a>
                
                <!-- Exibe o botão de Manutenção APENAS se o estado for APROVADA (RF014) -->
                <a *ngIf="solicitacao.estado === 'APROVADA'" [routerLink]="['/funcionario/efetuar-manutencao', solicitacao.id]" class="text-lg text-green-600 hover:text-green-800 dark:text-green-400 dark:hover:text-green-300">Efetuar Manutenção</a>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" class="text-center py-6 text-gray-500 dark:text-gray-400">Sem solicitações no filtro atual!</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</main>