<app-loading-overlay [visible]="isLoading"></app-loading-overlay>
<main class="font-sans p-8 dark:bg-gray-950 h-screen">
  <div class="max-w-7xl mx-auto dark:bg-gray-950">
    <div class="flex justify-between">
      <header class="mb-4">
        <h1 class="text-4xl font-bold text-gray-800 dark:text-white">Solicitações Abertas</h1>
        <p class="mt-2 text-lg text-gray-600 dark:text-gray-400">
        Visualize as solicitações abertas no momento
        </p>
      </header>
    </div>

    <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md overflow-hidden max-h-[65vh] overflow-y-scroll">
      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700 table-auto">
        <thead class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 uppercase text-sm font-semibold sticky top-0">
          <tr>
            <th class="px-4 py-4 text-left w-1/6">Data/Hora</th>
            <th class="px-4 py-4 text-left w-1/6">Cliente</th>
            <th class="px-4 py-4 text-left w-2/6">Descrição Produto</th>
            <th class="px-4 py-4 text-left w-1/6">Situação</th>
            <th class="px-4 py-4 text-left w-1/6">Ações</th>
          </tr>
        </thead>
        @if (isLoading) {
          <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
            @for (_ of [1, 2, 3, 4, 5]; track $index) {
              <tr class="animate-pulse">
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-3/4"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-full"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-4 bg-gray-300 dark:bg-gray-700 rounded w-full"></div>
                </td>
                <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                  <div class="h-6 w-24 bg-gray-300 dark:bg-gray-700 rounded-md"></div>
                </td>
              </tr>
            }
          </tbody>
        } @else {
        <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
          @for (solicitacao of solicitacoesAbertas; track solicitacao.id) {
            <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 transition-colors duration-200">
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ formataData(solicitacao.dataCriacao) }}</p>
              </td>
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">
                  {{ solicitacao.usuario.nome }}
                </p>
              </td>
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <p class="text-lg text-gray-800 dark:text-gray-200">{{ solicitacao.descricaoEquipamento.length < 30 ? solicitacao.descricaoEquipamento : solicitacao.descricaoEquipamento.substring(0, 30) + '...' }}</p>
              </td>
              <td>
                <p
                  [ngClass]="[getClasseEstado(solicitacao.status), 'inline-block', 'px-3', 'py-1', 'rounded-full', 'text-sm', 'font-semibold']">
                  {{ translateEstado(solicitacao.status) }}
                </p>
              </td>
              <td class="px-4 border-b border-slate-200 dark:border-slate-700 py-5">
                <a (click)="solicitacaoAberta = solicitacao" class="text-lg text-blue-800 hover:text-blue-950 dark:text-blue-400 dark:hover:text-blue-300 cursor-pointer">Abrir Solicitação</a>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" class="text-center py-6 text-gray-500 dark:text-gray-400">Sem solicitações no filtro atual!</td>
            </tr>
          }
        </tbody>
      }
      </table>
    </div>
  </div>
</main>

@if(solicitacaoAberta) {
  <app-modal-visualizar-solicitacao [solicitacao]="solicitacaoAberta" (closed)="solicitacaoAberta = null"/>
}
